/* HEADER */
.navbar{
position:fixed;
top:0;
left:0;
width:100%;
padding:22px 70px;
display:flex;
justify-content:space-between;
align-items:center;
background:rgba(0,0,0,.92);
backdrop-filter:blur(8px);
z-index:1000;
box-shadow:0 4px 20px rgba(0,0,0,.4);
}

/* logo */
.logo{
text-decoration:none;
font-size:42px;
font-weight:900;
color:#d4a95a;
letter-spacing:2px;
}

.logo span{
display:block;
font-size:14px;
letter-spacing:4px;
color:white;
margin-top:-5px;
}

/* menu desktop */
.menu{
display:flex;
align-items:center;
gap:35px;
}

.menu a{
text-decoration:none;
color:white;
font-weight:600;
position:relative;
transition:.3s;
}

.menu a::after{
content:'';
position:absolute;
left:0;
bottom:-6px;
width:0%;
height:2px;
background:#d4a95a;
transition:.3s;
}

.menu a:hover::after{
width:100%;
}

.menu a:hover{
color:#d4a95a;
}

/* boton */
.btn-reserva{
background:#d4a95a;
color:#111 !important;
padding:12px 24px;
border-radius:30px;
}

.btn-reserva:hover{
transform:scale(1.05);
}

/* hamburguesa visible también en PC */
.hamburguesa{
font-size:38px;
cursor:pointer;
color:white;
display:block;
margin-left:30px;
}

/* menú oculto tipo dropdown */
.menu{
position:absolute;
top:90px;
right:50px;
background:#121d2b;
padding:30px;
border-radius:20px;
display:none;
flex-direction:column;
min-width:240px;
box-shadow:0 10px 30px rgba(0,0,0,.5);
}

.menu.activo{
display:flex;
}

/* MOBILE */
@media(max-width:768px){

.navbar{
padding:20px 30px;
}

.logo{
font-size:32px;
}

.hamburguesa{
font-size:34px;
}

.menu{
right:20px;
width:220px;
}

}
