.hero{
height:100vh;
position:relative;
display:flex;
justify-content:center;
align-items:center;
overflow:hidden;
}

.hero-img{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
object-fit:cover;
z-index:-1;
}

.overlay{
background:rgba(0,0,0,.55);
padding:50px 70px;
border-radius:30px;
text-align:center;
backdrop-filter:blur(5px);
}

.overlay h2{
color:white;
font-size:4rem;
}

.overlay p{
color:white;
font-size:2rem;
margin:20px 0;
}

.btn{
background:#d4a64d;
padding:15px 35px;
border-radius:12px;
text-decoration:none;
color:black;
font-weight:bold;
}


@media(max-width:1024px){

.overlay{
padding:40px 50px;
}

.overlay h2{
font-size:3rem;
}

.overlay p{
font-size:1.6rem;
}

}

@media(max-width:768px){

.hero{
padding:20px;
}

.overlay{
width:90%;
padding:35px 25px;
border-radius:20px;
}

.overlay h2{
font-size:2.2rem;
line-height:1.3;
}

.overlay p{
font-size:1.2rem;
}

.btn{
display:inline-block;
padding:12px 28px;
font-size:14px;
}

}
